# Python virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]

# Logs
*.log

# VSCode
.vscode/

# Environment & package files
*.egg-info/
*.egg
*.env

# Jupyter notebook metadata
*.nbconvert.ipynb
